<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e1a3e4f-0777-4235-ac55-9d1b3fdeb850" Alias="Examples - Multinode Treepicker" Level="1">
  <Info>
    <Name>Examples - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/1f7db043cd0d4644a9c00f8d995400a9"
  },
  "Filter": "singleTag",
  "MinNumber": 0,
  "MaxNumber": 100,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>