<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4dea86d3-bded-4cdd-b9fe-d4a263268cf4" Alias="Examples - Nested Content" Level="1">
  <Info>
    <Name>Examples - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "customTags",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": 100,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>