<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05d4fa97-3fe0-4d37-bb47-242f9ad7a6c6" Alias="Examples - sss - List view" Level="1">
  <Info>
    <Name>Examples - sss - List view</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "PageSize": 10,
  "OrderBy": "name",
  "OrderDirection": "asc",
  "IncludeProperties": [
    {
      "alias": "customImage",
      "header": "Image",
      "nameTemplate": null,
      "isSystem": 0
    }
  ],
  "Layouts": [
    {
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "icon": "icon-list",
      "isSystem": 1,
      "selected": true
    },
    {
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "selected": true
    }
  ],
  "BulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "Icon": "icon-list",
  "TabName": null,
  "ShowContentFirst": false,
  "UseInfiniteEditor": false
}]]></Config>
</DataType>