<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6cb6cbf-9e01-4d4d-8a49-4ccc31d8b33e" Alias="Examples - ElementChoice - Nested Content" Level="1">
  <Info>
    <Name>Examples - ElementChoice - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iMGElement",
      "ncTabAlias": "Sample",
      "nameTemplate": ""
    },
    {
      "ncAlias": "yTElement",
      "ncTabAlias": "Sample",
      "nameTemplate": ""
    },
    {
      "ncAlias": "mP4Element",
      "ncTabAlias": "Sample",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>