<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d74c7c68-d052-443d-ba44-7412db470302" Alias="Examples - Title - Textarea" Level="1">
  <Info>
    <Name>Examples - Title - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>