<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6d2c250-56e7-4349-897a-af22f803967c" Alias="MP4Element - Media Picker" Level="1">
  <Info>
    <Name>MP4Element - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Video",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": []
}]]></Config>
</DataType>