<?xml version="1.0" encoding="utf-8"?>
<DataType Key="96c6b0d7-78f4-4799-942e-3a8941d56b7a" Alias="Practice - Featured Examples - Multinode Treepicker" Level="1">
  <Info>
    <Name>Practice - Featured Examples - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "examples",
  "MinNumber": 0,
  "MaxNumber": 100,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>