<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e2837c1c-f6ec-4bac-af41-5521fc6d7b95" Alias="Practice - Multinode Treepicker" Level="1">
  <Info>
    <Name>Practice - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "examples",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>