<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e76851c1-e8d1-40bd-a585-64ce7846c18b" Alias="categories" Level="2">
  <Info>
    <Name>Category</Name>
    <Icon>icon-article color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3e3c8114-a569-431f-ad77-6bd0148cd367" SortOrder="0">examples</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>