<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="93ab3972-a9f3-4f1a-94ef-132964a404c2" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="1ace3972-4d4d-4c5d-a24c-3c549eb69b7b">contentBase</Composition>
      <Composition Key="15722586-9ab9-4323-8556-1338c9586f3a">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5f5d95dc-c7b7-4af1-a448-0270d5c7ee0c">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="93ab3972-a9f3-4f1a-94ef-132964a404c2" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>