<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ed015121-5cff-4a93-b62f-67de41b30858" Alias="customTag" Level="2">
  <Info>
    <Name>CustomTag</Name>
    <Icon>icon-article color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="dc84157d-ef1b-426b-a050-cfbf45c51188" SortOrder="0">singleTag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>