<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e9ac009d-da0f-44e7-9a57-2625dc79590d" Alias="iMGElement" Level="1">
  <Info>
    <Name>IMGElement</Name>
    <Icon>icon-picture color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cd77b978-a01c-4133-9d49-450ccff09590</Key>
      <Name>CustomImage</Name>
      <Alias>customImage</Alias>
      <Definition>0e63d883-b62b-4799-88c3-157f82e83ecc</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image take]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Sample</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Sample</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>