<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="86517f16-31b7-4f65-8f9b-173dd16ff679" Alias="mP4Element" Level="1">
  <Info>
    <Name>MP4Element</Name>
    <Icon>icon-video color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dccad876-aa77-430c-a2c6-caf7bb5240d1</Key>
      <Name>CustomMp4</Name>
      <Alias>customMp4</Alias>
      <Definition>a6d2c250-56e7-4349-897a-af22f803967c</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[custom mp4]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Sample</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Sample</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>