<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="41677308-5f01-44d5-a843-82ea54fa321d" Alias="practice" Level="1">
  <Info>
    <Name>Practice</Name>
    <Icon>icon-application-window-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="1ace3972-4d4d-4c5d-a24c-3c549eb69b7b">contentBase</Composition>
    </Compositions>
    <DefaultTemplate>Practice</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1ac2a201-4d28-4fbc-9782-b5d4f58d92e2">Practice</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3e3c8114-a569-431f-ad77-6bd0148cd367" SortOrder="0">examples</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b4a03055-b69a-4d39-b98e-51778ba2fb8e</Key>
      <Name>Featured Examples</Name>
      <Alias>featuredExamples</Alias>
      <Definition>96c6b0d7-78f4-4799-942e-3a8941d56b7a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Sample Thing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea56cd0b-5612-4ade-aa95-073ce75ad57e</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Sample Thing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Sample Thing</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>